#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

.gothic-a1-regular {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.uoqmunthenkhung-regular {
  font-family: "UoqMunThenKhung", serif;
  font-style: normal;
}

.geologica-letters {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}

.others-style-header {
  position: relative;
  z-index: 0;
  height: 60vh;
  background-color: black;
  background-size: cover;
  background-position: center;
}

.others-style-header .navbar {
  background-color: black;
  position: relative;
  z-index: 2;
}

.menu-custom-bg{
  background-color: black;
}


.navbar-nav .nav-item .nav-link {
  font-size: 1.7rem;
  font-family: "Geologica", sans-serif;
  font-weight: 400;
  color: white;
  line-height: 1.5;
  display: inline-block; /* Para aplicar transformaciones */
  transition: transform 0.7s ease; /* Suaviza la transformación */
}

.navbar-nav .nav-item .nav-link:hover {
  color:#7e7288;
  transform: scale(1.08); /* Escala el texto al 120% */
}

.offcanvas-title{
  font-size: 1.7rem;
  font-family: "Geologica", sans-serif;
  color: white;
  line-height: 1.5;
}


/* Suaviza la transición del offcanvas */
.offcanvas.offcanvas-end {
  transition: transform 0.6s ease !important; /* más lento */
}

/* Inicialmente oculto y transparente */
.fade-content {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Cuando el offcanvas está visible, se activa la animación */
.offcanvas.show .fade-content {
  opacity: 1;
  transform: translateY(0);
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/*Textos de la web */
.textos-horisada{
  color:black;
  font-family: 'EB Garamond', serif;
  font-size: 1.1rem;
  text-align: left;
  margin: 1rem;
  letter-spacing: 0.05rem;
}

/*SlideShow - usado en irezumi section*/
.slideshow-container-irezumi {
  max-width: 1200px; 
  width: 100%;
  position: relative;
  margin: auto;
}

.mySlides-irezumi {
  display: none;
  position: relative;
}

.mySlides-irezumi img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.prev-irezumi, .next-irezumi {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0, 0, 0, 0.5);
  user-select: none;
  z-index: 1;
}

.next-irezumi {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev-irezumi:hover, .next-irezumi:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text-irezumi {
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.numbertext-irezumi {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot-irezumi {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-irezumi,
.dot-irezumi:hover {
  background-color: #717171;
}

.fade-irezumi {
  animation-name: fade-irezumi;
  animation-duration: 1.5s;
}

@keyframes fade-irezumi {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}


.footer{
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container-logo-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.letras-footer{
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  color: white;
  font-family: 'EB Garamond', serif;
  line-height: 2rem;
  margin-bottom: 2rem;;
}

.logo-insta-footer{
  margin-bottom: 3rem;
}

.items_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.scroll-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 1000;
}

.scroll-up-img {
  width: 40px;
  height: 40px;
  transition: opacity 0.3s ease;
}

.scroll-up-img:hover {
  opacity: 0.8;
}

@media (max-width: 991.98px) { /* Bootstrap 'lg' breakpoint */
  .offcanvas.offcanvas-end {
    width: 100vw !important;
  }
}

@media (max-width: 768px) {
  .others-style-header {
    height: 75vh;
  }
}

@media (max-width: 520px) { 
  .letras-footer{
    text-align: center;
    line-height: 1rem;
  }

  .navbar-brand{
    margin-left: 10px;
    width: 70px;
  }

  .logo-insta-footer{
    width: 43px;
  }
}




